{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}change password successfully{% endblock title %}</title>
    <style>
        body{
            background-color: tomato;
            text-align: center;
            color: wheat;
            font-size: 190%
        }
        h2{
            margin-top: 40vh
        }

        a:hover{
            color: blueviolet;
        }

    </style>
</head>
<body>
    {% block content %}
      
    <h2>{% translate 'Your password Changed successfully' %}</h2>
    <p>{% translate 'for login again please click ' %}<a href="{% url 'accounts:login' %}">{% translate 'here' %}</a></p>
    
    {% endblock content %}
</body>
</html>