{% extends "accounts/change_password_done.html" %}
{% load i18n %}

{% block title %}
    {% translate 'send email' %}
{% endblock title %}

{% block content %}
    <div class="breadcrumbs" style="text-align: left;margin: 2% 0 13% 3%;">
        <a href="{% url 'blog:articles' %}">{% translate 'Home' %}</a>
        &rsaquo;{% translate ' Password reset' %}
    </div>
    
    <p style="width: 60%;margin: 2% auto">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    
    <p style="width: 60%;margin: 2% auto;">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
{% endblock content %}


